body {
    margin: 0px;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #ddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F51B5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFC107;
}


.bottom{
    margin-top: 50px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;
} 
.th, .td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.th{
    background-color: #3F51B5;
    border-right: 1px solid #ddd ;
    color: white;
    width: 5em;
}


.th:hover{
    background-color: #ff9800;
}

.query{
    position:relative;
    border-radius: 10px;
    padding:10px;
    background:white;
    margin-top:10px;
    border: 2px solid transparent;
}

form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

form textarea{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #3F51B5;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

form button:hover{
    background: #FFC107;
    color:black;
}

form table{
    width: 10em;
}

.overflow{
    overflow-y: scroll;
    max-height: 500px;
    width: 100%;
}


/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    width: auto;
    height: 3em;
    line-height: 3;
    background: #bbb;
    overflow: hidden;
    border-radius: .25em;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0em 0em 0em .35em;
    color: black;
    background: #f2f2f2;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #3F51B5;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: #FFC107;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}